<h2>Products</h2>

<!-- Structural directives shape or reshape the DOM's structure, by adding, removing, and manipulating elements. -->
<!-- *ngFor is a structural directive that repeats the div-element for each product in the list. -->
<div *ngFor="let product of products">
    <h3>
        <!-- Property binding [ ] lets you use the property value in a template expression. -->
        <!-- title is an attribute of the anchor element: https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes -->
        <!-- The RouterLink directive helps you customize the anchor element. 
            In this case, the route, or URL, contains one fixed segment, /products. 
            The final segment is variable, inserting the id property of the current product. -->
        <a 
            [title]="product.name + ' details'"
            [routerLink]="['/products', product.id]">
            <!--  Interpolation {{ }} lets you render the property value as text. -->
            {{ product.name }}
        </a>
    </h3>
    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>

    <!-- The button's click event is bound to the share() method in product-list.component.ts. -->
    <!-- Event binding uses a set of parentheses, ( ), around the event, as in the (click) event on the <button> element. -->
    <button (click)="share()">
        Share
    </button>

    <!-- The child component -->
    <!-- The current product is passed as input to the component using property binding. 
        <app-product-alerts> is bound to the onNotify() method of the product list component. -->
    <app-product-alerts
        [product]="product" 
        (notify)="onNotify()">
    </app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->